/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as TwelvelabsApi from "../../../../../../index";

/**
 * @example
 *     {
 *         customId: "prod-segment-analysis-42",
 *         video: {
 *             type: "url",
 *             url: "https://example.com/video.mp4"
 *         },
 *         prompt: "Generate a detailed summary of this video in 3-4 sentences",
 *         temperature: 0.2,
 *         maxTokens: 1000
 *     }
 *
 * @example
 *     {
 *         modelName: "pegasus1.5",
 *         video: {
 *             type: "url",
 *             url: "https://example.com/video.mp4"
 *         },
 *         analysisMode: "time_based_metadata",
 *         responseFormat: {
 *             type: "segment_definitions",
 *             segmentDefinitions: [{
 *                     id: "scene",
 *                     description: "A distinct scene or setting change in the video",
 *                     fields: [{
 *                             name: "sentiment",
 *                             type: "string",
 *                             description: "The emotional tone of this segment",
 *                             enum: ["positive", "negative", "neutral"]
 *                         }, {
 *                             name: "key_objects",
 *                             type: "array",
 *                             description: "Notable objects visible in this segment",
 *                             items: {
 *                                 type: "string"
 *                             }
 *                         }]
 *                 }]
 *         },
 *         minSegmentDuration: 5,
 *         maxSegmentDuration: 30
 *     }
 *
 * @example
 *     {
 *         modelName: "pegasus1.5",
 *         video: {
 *             type: "url",
 *             url: "https://example.com/video.mp4"
 *         },
 *         prompt: "Summarize the key events in this clip.",
 *         maxTokens: 4096,
 *         startTime: 10,
 *         endTime: 60
 *     }
 *
 * @example
 *     {
 *         modelName: "pegasus1.5",
 *         video: {
 *             type: "url",
 *             url: "https://example.com/video.mp4"
 *         },
 *         analysisMode: "time_based_metadata",
 *         responseFormat: {
 *             type: "segment_definitions",
 *             segmentDefinitions: [{
 *                     id: "scenes",
 *                     description: "Scene changes.",
 *                     timeRanges: [{
 *                             startTime: 0,
 *                             endTime: 4
 *                         }, {
 *                             startTime: 10,
 *                             endTime: 14
 *                         }]
 *                 }]
 *         }
 *     }
 *
 * @example
 *     {
 *         modelName: "pegasus1.5",
 *         video: {
 *             type: "url",
 *             url: "https://example.com/video.mp4"
 *         },
 *         analysisMode: "time_based_metadata",
 *         responseFormat: {
 *             type: "segment_definitions",
 *             segmentDefinitions: [{
 *                     id: "scenes",
 *                     description: "Detect scenes and label them.",
 *                     fields: [{
 *                             name: "label",
 *                             type: "string",
 *                             description: "A short label for this scene."
 *                         }, {
 *                             name: "highlight_at",
 *                             type: "timestamp",
 *                             description: "The single most representative moment in this scene.",
 *                             format: "seconds"
 *                         }]
 *                 }],
 *             segmentTimeFormat: "hh:mm:ss"
 *         }
 *     }
 *
 * @example
 *     {
 *         modelName: "pegasus1.5",
 *         video: {
 *             type: "url",
 *             url: "https://example.com/video.mp4"
 *         },
 *         promptV2: {
 *             inputText: "Is there a <@tiger-1> in the video?",
 *             mediaSources: [{
 *                     name: "tiger-1",
 *                     mediaType: "image",
 *                     url: "https://example.com/tiger.jpg"
 *                 }]
 *         },
 *         maxTokens: 4096
 *     }
 *
 * @example
 *     {
 *         modelName: "pegasus1.5",
 *         video: {
 *             type: "url",
 *             url: "https://example.com/video.mp4"
 *         },
 *         prompt: "Identify intro, main content, and outro clips.",
 *         responseFormat: {
 *             type: "json_schema",
 *             jsonSchema: {
 *                 "type": "object",
 *                 "properties": {
 *                     "clip_start": {
 *                         "type": "timestamp",
 *                         "format": "seconds"
 *                     },
 *                     "events": {
 *                         "type": "array",
 *                         "items": {
 *                             "type": "object",
 *                             "properties": {
 *                                 "intro_end": {
 *                                     "type": "timestamp",
 *                                     "format": "hh:mm:ss"
 *                                 },
 *                                 "outro_start": {
 *                                     "type": "timestamp",
 *                                     "format": "hh:mm:ss.fff"
 *                                 },
 *                                 "label": {
 *                                     "type": "string"
 *                                 }
 *                             }
 *                         }
 *                     }
 *                 }
 *             }
 *         }
 *     }
 */
export interface CreateAsyncAnalyzeRequest {
    /**
     * The video understanding model to use for analysis.
     * - `pegasus1.2`: General analysis (prompt-based text generation).
     * - `pegasus1.5`: General analysis (prompt-based text generation) with video clipping, structured prompts with reference images, and video segmentation. See the [Pegasus](/v1.3/docs/concepts/models/pegasus#context-window) page for token limits.
     *
     * **Default:** `pegasus1.2`
     */
    modelName?: TwelvelabsApi.analyzeAsync.CreateAsyncAnalyzeRequestModelName;
    /**
     * An optional identifier that you set when you create the task. Use this field to correlate tasks across responses, for example, to distinguish tasks by type or environment.
     *
     * The platform stores this value unchanged and returns it in the following responses:
     * - The [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint
     * - The [`GET`](/v1.3/api-reference/analyze-videos/list-async-analysis-tasks) method of the `/analyze/tasks` endpoint
     * - The `analyze.task.ready` and `analyze.task.failed` webhook payloads
     *
     * **Format**: 1–64 characters. Alphanumeric, hyphens (`-`), and underscores (`_`) only. An empty string is rejected with a `400 Bad Request`.
     *
     * This field does not enforce uniqueness. You can submit multiple tasks with the same `custom_id`. To prevent duplicate task creation, use an `Idempotency-Key` header instead.
     */
    customId?: string;
    video: TwelvelabsApi.VideoContext;
    /**
     * Natural-language instructions for analyzing the video. Required for general analysis (prompt-based text generation). Not supported when `analysis_mode` is `time_based_metadata`. To include reference images in your prompt, use the `prompt_v2` parameter instead (Pegasus 1.5 only). Mutually exclusive with the `prompt_v2` parameter.
     *
     * Your prompts can be instructive or descriptive, or you can phrase them as questions. Pegasus 1.2 limits prompts to 2,000 tokens. For Pegasus 1.5, this text counts toward the [context window](/v1.3/docs/concepts/models/pegasus#context-window).
     *
     * **Examples**:
     *
     * - Based on this video, I want to generate five keywords for SEO (Search Engine Optimization).
     * - I want to generate a description for my video with the following format: Title of the video, followed by a summary in 2-3 sentences, highlighting the main topic, key events, and concluding remarks.
     */
    prompt?: string;
    /**
     * A structured prompt with `<@name>` placeholders for referencing images. Requires the `model_name` parameter set to `pegasus1.5`. Mutually exclusive with the `prompt` parameter.
     *
     * The prompt text and reference images count toward the [context window](/v1.3/docs/concepts/models/pegasus#context-window).
     */
    promptV2?: TwelvelabsApi.AnalyzePromptV2;
    /**
     * The analysis approach for this task.
     * - `general`: Analyze the video and generate a response based on your prompt. Supports both free-form text and structured output via `response_format`.
     * - `time_based_metadata`: Segment the video into time-based intervals and extract custom metadata for each segment. Requires `model_name` set to `pegasus1.5` and `response_format.type` set to `segment_definitions`.
     *
     * **Default:** `general`
     */
    analysisMode?: TwelvelabsApi.analyzeAsync.CreateAsyncAnalyzeRequestAnalysisMode;
    temperature?: TwelvelabsApi.AnalyzeTemperature;
    /**
     * The maximum response length, in tokens. The allowed range depends on the model and analysis mode:
     *
     * | Model | Mode | Min | Max | Default |
     * |-------|------|-----|-----|---------|
     * | Pegasus 1.2 | — | 2 | 4,096 | 4096 |
     * | Pegasus 1.5 | `general` | 512 | 98,304 | 4,096 |
     * | Pegasus 1.5 | `time_based_metadata` | 2,048 | 98,304 | 32,768 |
     */
    maxTokens?: number;
    responseFormat?: TwelvelabsApi.AsyncResponseFormat;
    /**
     * Minimum duration for each extracted segment, in seconds. Set this value to enforce a minimum segment length. Requires `model_name` set to `pegasus1.5` and `analysis_mode` set to `time_based_metadata`. Mutually exclusive with `response_format.segment_definitions[].time_ranges`.
     *
     * **Min:** 2
     */
    minSegmentDuration?: number;
    /**
     * Maximum duration for each extracted segment, in seconds. Set this value to split long continuous sections into shorter segments. Must be greater than or equal to `min_segment_duration`. Requires `model_name` set to `pegasus1.5` and `analysis_mode` set to `time_based_metadata`. Mutually exclusive with `response_format.segment_definitions[].time_ranges`.
     *
     * **Min:** 2
     */
    maxSegmentDuration?: number;
    /**
     * Start of the analysis window, as an absolute timestamp in seconds, based on the video's internal metadata. Use with `end_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.
     *
     * <Note title="Notes">
     * - If omitted, defaults to the video's internal start time.
     * - Most videos start at 0, but some (for example, from cameras or broadcast recordings) may have a non-zero start time. To find the value, run `ffprobe -v error -show_entries format=start_time,duration -of default=noprint_wrappers=1 your_video.mp4`.
     * - Must be less than `end_time` and less than the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
     * - Mutually exclusive with `response_format.segment_definitions[].time_ranges`.
     * - Together with `end_time`, this parameter determines the billable video duration. If you omit both, billing uses the full video duration. For details, see the [Frequently asked questions](/v1.3/docs/resources/frequently-asked-questions#how-is-video-segmentation-priced) page.
     * </Note>
     */
    startTime?: number;
    /**
     * End of the analysis window, as an absolute timestamp in seconds, based on the video's internal metadata. Use with `start_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.
     *
     * <Note title="Notes">
     * - If omitted, defaults to the video's internal start time plus its duration.
     * - Most videos start at 0, but some (for example, from cameras or broadcast recordings) may have a non-zero start time. To find the value, run `ffprobe -v error -show_entries format=start_time,duration -of default=noprint_wrappers=1 your_video.mp4`.
     * - Must be greater than `start_time` and less than or equal to the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
     * - Mutually exclusive with `response_format.segment_definitions[].time_ranges`.
     * - Together with `start_time`, this parameter determines the billable video duration. If you omit both, billing uses the full video duration. For details, see the [Frequently asked questions](/v1.3/docs/resources/frequently-asked-questions#how-is-video-segmentation-priced) page.
     * </Note>
     */
    endTime?: number;
}
