/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as fs from "fs";

/**
 * @example
 *     {
 *         indexId: "index_id"
 *     }
 */
export interface TasksCreateRequest {
    /** The unique identifier of the index to which the video is being uploaded. */
    indexId: string;
    videoFile?: File | fs.ReadStream | Blob | undefined;
    /** Specify this parameter to upload a video from a publicly accessible URL. */
    videoUrl?: string;
    /** This parameter indicates if the platform stores the video for streaming. When set to `true`, the platform stores the video, and you can retrieve its URL by calling the [`GET`](/v1.3/api-reference/videos/retrieve) method of the `/indexes/{index-id}/videos/{video-id}` endpoint. You can then use this URL to access the stream over the <a href="https://en.wikipedia.org/wiki/HTTP_Live_Streaming" target="_blank">HLS</a> protocol. */
    enableVideoStream?: boolean;
    /** Metadata that helps you categorize your videos. You can specify a list of keys and values. Keys must be of type `string`, and values can be of the following types: `string`, `integer`, `float` or `boolean`. */
    userMetadata?: string;
}
