/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as fs from "fs";
import * as TwelvelabsApi from "../../../../index";

/**
 * @example
 *     {
 *         indexId: "index_id",
 *         searchOptions: ["visual"]
 *     }
 */
export interface SearchCreateRequest {
    /** The type of media you wish to use. This parameter is required for media queries. For example, to perform an image-based search, set this parameter to `image`. */
    queryMediaType?: "image";
    /** The publicly accessible URL of the media file you wish to use. This parameter is required for media queries if `query_media_file` is not provided. */
    queryMediaUrl?: string;
    queryMediaFile?: File | fs.ReadStream | Blob | undefined;
    /** The text query to search for. This parameter is required for text queries. Note that the platform supports full natural language-based search. */
    queryText?: string;
    /** The unique identifier of the index to search. */
    indexId: string;
    /**
     * Specifies the [sources of information](/v1.3/docs/concepts/modalities#search-options) the platform uses when performing a search. You must include the `search_options` parameter separately for each desired source of information.
     *
     * <Note title="Notes">
     * - The search options you specify must be a subset of the [model options](/v1.3/docs/concepts/modalities#model-options) used when you created the index.
     * - You can specify multiple search options in conjunction with the `operator` parameter described below to broaden or narrow your search.
     *
     * Example:
     * To search using both visual and audio cues, include this parameter twice in the request as shown below:
     * ```JSON
     * --form search_options=visual \
     * --form search_options=audio \
     * ```
     * </Note>
     */
    searchOptions: TwelvelabsApi.SearchCreateRequestSearchOptionsItem[];
    /**
     * This parameter specifies the strictness of the thresholds for assigning the high, medium, or low confidence levels to search results. If you use a lower value, the thresholds become more relaxed, and more search results will be classified as having high, medium, or low confidence levels. You can use this parameter to include a broader range of potentially relevant video clips, even if some results might be less precise.
     *
     * **Min**: 0
     * **Max**: 1
     * **Default:** 0.5
     */
    adjustConfidenceLevel?: number;
    /**
     * Use this parameter to group or ungroup items in a response. It can take one of the following values:
     * - `video`:  The platform will group the matching video clips in the response by video.
     * - `clip`: The matching video clips in the response will not be grouped.
     *
     * **Default:** `clip`
     */
    groupBy?: TwelvelabsApi.SearchCreateRequestGroupBy;
    threshold?: TwelvelabsApi.ThresholdSearch;
    /**
     * Use this parameter to specify the sort order for the response.
     *
     * When performing a search, the platform determines the level of confidence that each video clip matches your search terms. By default, the search results are sorted on the level of confidence in descending order.
     *
     * If you set this parameter to `score` and `group_by` is set to `video`, the platform will determine the maximum value of the `score` field for each video and sort the videos in the response by the maximum value of this field. For each video, the matching video clips will be sorted by the level of confidence.
     *
     * If you set this parameter to `clip_count` and `group_by` is set to `video`, the platform will sort the videos in the response by the number of clips. For each video, the matching video clips will be sorted by the level of confidence. You can use `clip_count` only when the matching video clips are grouped by video.
     *
     *
     * **Default:** `score`
     */
    sortOption?: TwelvelabsApi.SearchCreateRequestSortOption;
    /**
     * When you perform a search specifying multiple [sources of information](/v1.3/docs/concepts/modalities#search-options), you can use the this parameter to broaden or narrow your search.
     *
     *   The following logical operators are supported:
     *
     *   - `or`
     *
     *   - `and`
     *
     *   For details and examples, see the [Using multiple sources of information](/v1.3/docs/guides/search/queries/text-queries#visual-and-audio) section.
     *
     *
     *   **Default**: `or`.
     */
    operator?: TwelvelabsApi.SearchCreateRequestOperator;
    /**
     * The number of items to return on each page. When grouping by video, this parameter represents the number of videos per page. Otherwise, it represents the maximum number of video clips per page.
     *
     * **Max**: `50`.
     */
    pageLimit?: number;
    /**
     * Specifies a stringified JSON object to filter your search results. Supports both system-generated metadata (example: video ID, duration) and user-defined metadata.
     *
     * **Syntax for filtering**
     *
     * The following table describes the supported data types, operators, and filter syntax:
     *
     * | Data type | Operator | Description | Syntax |
     * |:----------|:---------|:------------|:-------|
     * | String | `=` | Matches results equal to the specified value. | `{"field": "value"}`
     * | Array of strings | `=` | Matches results with any value in the specified array. Supported only for `id`. | `{"id": ["value1", "value2"]}` |
     * | Numeric (integer, float) | `=`, `lte`, `gte` | Matches results equal to or within a range of the specified value. | `{"field": number}` or `{"field": { "gte": number, "lte": number }}` |
     * | Boolean | `=` | Matches results equal to the specified boolean value. | `{"field": true}` or `{"field": false}`. |
     *
     * <br/>
     * **System-generated metadata**
     *
     * The table below describes the system-generated metadata available for filtering your  search results:
     *
     * | Field name | Description | Type | Example |
     * |:-----------|:------------|:-----|:--------|
     * | `id` | Filters by specific video IDs. | Array of strings | `{"id": ["67cec9caf45d9b64a58340fc", "67cec9baf45d9b64a58340fa"]}`. |
     * | `duration` | Filters based on the duration of the video containing the segment that matches your query. | Number or object with `gte` and `lte` | `{"duration": 600}` or `{"duration": { "gte": 600, "lte": 800 }}` |
     * | `width` | Filters by video width (in pixels). | Number or object with `gte` and `lte` | `{"width": 1920}` or `{"width": { "gte": 1280, "lte": 1920}}` |
     * | `height` | Filters by video height (in pixels). | Number or object with `gte` and `lte`. | `{"height": 1080}` or `{"height": { "gte": 720, "lte": 1080 }}`. |
     * | `size` | Filters by video size (in bytes) | Number or object with `gte` and `lte`. | `{"size": 1048576}` or `{"size": { "gte": 1048576, "lte": 5242880}}` |
     * | `filename` | Filters by the exact file name. | String | `{"filename": "Animal Encounters part 1"}` |
     *
     * <br/>
     * **User-defined metadata**
     *
     * To filter by user-defined metadata:
     * 1. Add metadata to your video by calling the [`PUT`](/v1.3/api-reference/videos/update) method of the `/indexes/:index-id/videos/:video-id` endpoint
     * 2. Reference the custom field in your filter object. For example, to filter videos where a custom field named `needsReview` of type boolean is `true`, use `{"needs_review": true}`.
     *
     * For more details and examples, see the [Filter search results](/v1.3/docs/guides/search/filtering) page.
     */
    filter?: string;
    /** Specifies whether to include user-defined metadata in the search results. */
    includeUserMetadata?: boolean;
}
