/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments";
import * as core from "../../../../../../core";
import * as TwelvelabsApi from "../../../../../index";
import * as serializers from "../../../../../../serialization/index";
import urlJoin from "url-join";
import * as errors from "../../../../../../errors/index";
import { Tasks } from "../resources/tasks/client/Client";

export declare namespace V2 {
    export interface Options {
        environment?: core.Supplier<environments.TwelvelabsApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<string | undefined>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class V2 {
    protected _tasks: Tasks | undefined;

    constructor(protected readonly _options: V2.Options = {}) {}

    public get tasks(): Tasks {
        return (this._tasks ??= new Tasks(this._options));
    }

    /**
     * This endpoint synchronously creates embeddings for multimodal content and returns the results immediately in the response.
     *
     * <Note title="Note">
     *   This method only supports Marengo version 3.0 or newer.
     * </Note>
     *
     * **When to use this endpoint**:
     * - Create embeddings for text, images, audio, or video content
     * - Get immediate results without waiting for background processing
     * - Process audio or video content up to 10 minutes in duration
     *
     * **Do not use this endpoint for**:
     * - Audio or video content longer than 10 minutes. Use the [`POST`](/v1.3/api-reference/create-embeddings-v2/create-async-embedding-task) method of the `/embed-v2/tasks` endpoint instead.
     *
     * <Accordion title="Input requirements">
     *   **Text**:
     *   - Maximum length: 500 tokens
     *
     *   **Images**:
     *   - Formats: JPEG, PNG
     *   - Minimum size: 128x128 pixels
     *   - Maximum file size: 5 MB
     *
     *   **Audio and video**:
     *   - Maximum duration: 10 minutes
     *   - Maximum file size for base64 encoded strings: 36 MB
     *   - Audio formats: WAV (uncompressed), MP3 (lossy), FLAC (lossless)
     *   - Video formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)
     *   - Video resolution: 360x360 to 3840x2160 pixels
     *   - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1
     * </Accordion>
     *
     * @param {TwelvelabsApi.embed.CreateEmbeddingsRequest} request
     * @param {V2.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TwelvelabsApi.BadRequestError}
     * @throws {@link TwelvelabsApi.TooManyRequestsError}
     * @throws {@link TwelvelabsApi.InternalServerError}
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "text",
     *         text: {
     *             inputText: "man walking a dog"
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "image",
     *         image: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/folder/dog.jpg"
     *             }
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "text_image",
     *         textImage: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/folder/dog.jpg"
     *             },
     *             inputText: "man walking a dog"
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "image",
     *         image: {
     *             mediaSource: {
     *                 assetId: "1234567890"
     *             }
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "audio",
     *         audio: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/audio/a.wav"
     *             },
     *             startSec: 0,
     *             endSec: 6,
     *             segmentation: {
     *                 strategy: "fixed",
     *                 fixed: {
     *                     durationSec: 6
     *                 }
     *             },
     *             embeddingOption: ["audio", "transcription"],
     *             embeddingScope: ["clip", "asset"]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "video",
     *         video: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/video/clip.mp4"
     *             },
     *             startSec: 0,
     *             endSec: 12,
     *             segmentation: {
     *                 strategy: "dynamic",
     *                 dynamic: {
     *                     minDurationSec: 4
     *                 }
     *             },
     *             embeddingOption: ["visual", "audio", "transcription"],
     *             embeddingScope: ["clip", "asset"]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "video",
     *         video: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/video/simple.mp4"
     *             }
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "audio",
     *         audio: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/audio/speech.wav"
     *             },
     *             embeddingOption: ["transcription"],
     *             embeddingScope: ["asset"]
     *         }
     *     })
     */
    public create(
        request: TwelvelabsApi.embed.CreateEmbeddingsRequest,
        requestOptions?: V2.RequestOptions,
    ): core.HttpResponsePromise<TwelvelabsApi.EmbeddingSuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: TwelvelabsApi.embed.CreateEmbeddingsRequest,
        requestOptions?: V2.RequestOptions,
    ): Promise<core.WithRawResponse<TwelvelabsApi.EmbeddingSuccessResponse>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwelvelabsApiEnvironment.Default,
                "embed-v2",
            ),
            method: "POST",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "twelvelabs-js",
                "X-Fern-SDK-Version": "1.1.1",
                "User-Agent": "twelvelabs-js/1.1.1",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: {
                ...serializers.embed.CreateEmbeddingsRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
                model_name: "marengo3.0",
            },
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: serializers.EmbeddingSuccessResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TwelvelabsApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 429:
                    throw new TwelvelabsApi.TooManyRequestsError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new TwelvelabsApi.InternalServerError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.TwelvelabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.TwelvelabsApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.TwelvelabsApiTimeoutError("Timeout exceeded when calling POST /embed-v2.");
            case "unknown":
                throw new errors.TwelvelabsApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        return { "x-api-key": apiKeyValue };
    }
}
