/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../../../environments";
import * as core from "../../../../../../core";
import * as TwelvelabsApi from "../../../../../index";
import * as serializers from "../../../../../../serialization/index";
import urlJoin from "url-join";
import * as errors from "../../../../../../errors/index";
import { Tasks } from "../resources/tasks/client/Client";

export declare namespace V2 {
    export interface Options {
        environment?: core.Supplier<environments.TwelvelabsApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey: core.Supplier<string>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class V2 {
    protected _tasks: Tasks | undefined;

    constructor(protected readonly _options: V2.Options) {}

    public get tasks(): Tasks {
        return (this._tasks ??= new Tasks(this._options));
    }

    /**
     * This method synchronously creates embeddings for multimodal content and returns the results immediately in the response.
     *
     * Use this method to embed a query for retrieving matching content. With Marengo 3.5, audio and video can be up to 30 seconds. With Marengo 3.0, they can be up to 10 minutes. For longer content, use the [`POST`](/v1.3/api-reference/create-embeddings-v2/create-async-embedding-task) method of the `/embed-v2/tasks` endpoint instead.
     *
     * The content this method accepts depends on the model. With Marengo 3.5, this method accepts only the `multi_input` input type; provide text, images, audio, or video as media sources. With Marengo 3.0, use the individual input types. For the formats, resolutions, file sizes, and duration limits each model accepts, see the input requirements for [Marengo 3.5](/v1.3/docs/concepts/models/marengo/marengo-3-5#input-requirements) or [Marengo 3.0](/v1.3/docs/concepts/models/marengo/marengo-3-0#input-requirements).
     *
     * <Note title="Note">
     * This method is rate-limited. With Marengo 3.5, the platform counts input tokens for each type of content. A request can exceed a limit before you see an error. For details, see [Input token limits for embedding](/v1.3/docs/get-started/rate-limits#input-token-limits-for-embedding).
     * </Note>
     *
     * @param {TwelvelabsApi.embed.CreateEmbeddingsRequest} request
     * @param {V2.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TwelvelabsApi.BadRequestError}
     * @throws {@link TwelvelabsApi.TooManyRequestsError}
     * @throws {@link TwelvelabsApi.InternalServerError}
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "multi_input",
     *         modelName: "marengo3.5",
     *         multiInput: {
     *             inputText: "man walking a dog"
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "multi_input",
     *         modelName: "marengo3.5",
     *         multiInput: {
     *             mediaSources: [{
     *                     mediaType: "image",
     *                     url: "https://user-bucket.com/folder/dog.jpg"
     *                 }]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "multi_input",
     *         modelName: "marengo3.5",
     *         multiInput: {
     *             mediaSources: [{
     *                     mediaType: "image",
     *                     assetId: "1234567890"
     *                 }]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "multi_input",
     *         modelName: "marengo3.5",
     *         multiInput: {
     *             inputText: "man walking a dog",
     *             mediaSources: [{
     *                     mediaType: "image",
     *                     url: "https://user-bucket.com/folder/dog.jpg"
     *                 }]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "multi_input",
     *         modelName: "marengo3.5",
     *         multiInput: {
     *             mediaSources: [{
     *                     mediaType: "audio",
     *                     url: "https://user-bucket.com/audio/a.wav"
     *                 }]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "multi_input",
     *         modelName: "marengo3.5",
     *         multiInput: {
     *             mediaSources: [{
     *                     mediaType: "video",
     *                     url: "https://user-bucket.com/video/clip.mp4"
     *                 }]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "multi_input",
     *         modelName: "marengo3.5",
     *         multiInput: {
     *             inputText: "A person cooking in the kitchen",
     *             mediaSources: [{
     *                     mediaType: "image",
     *                     url: "https://user-bucket.com/images/person.jpg"
     *                 }, {
     *                     mediaType: "image",
     *                     url: "https://user-bucket.com/images/kitchen.jpg"
     *                 }]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "multi_input",
     *         modelName: "marengo3.5",
     *         multiInput: {
     *             inputText: "A person wearing <@outfit> and holding <@accessory>",
     *             mediaSources: [{
     *                     name: "outfit",
     *                     mediaType: "image",
     *                     url: "https://user-bucket.com/images/outfit.jpg"
     *                 }, {
     *                     name: "accessory",
     *                     mediaType: "image",
     *                     url: "https://user-bucket.com/images/accessory.jpg"
     *                 }]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "text",
     *         modelName: "marengo3.0",
     *         text: {
     *             inputText: "man walking a dog"
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "image",
     *         modelName: "marengo3.0",
     *         image: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/folder/dog.jpg"
     *             }
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "image",
     *         modelName: "marengo3.0",
     *         image: {
     *             mediaSource: {
     *                 assetId: "1234567890"
     *             }
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "text_image",
     *         modelName: "marengo3.0",
     *         textImage: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/folder/dog.jpg"
     *             },
     *             inputText: "man walking a dog"
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "audio",
     *         modelName: "marengo3.0",
     *         audio: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/audio/a.wav"
     *             },
     *             startSec: 0,
     *             endSec: 6,
     *             segmentation: {
     *                 strategy: "fixed",
     *                 fixed: {
     *                     durationSec: 6
     *                 }
     *             },
     *             embeddingOption: ["audio", "transcription"],
     *             embeddingScope: ["clip", "asset"]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "audio",
     *         modelName: "marengo3.0",
     *         audio: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/audio/speech.wav"
     *             },
     *             embeddingOption: ["transcription"],
     *             embeddingScope: ["asset"]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "video",
     *         modelName: "marengo3.0",
     *         video: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/video/clip.mp4"
     *             },
     *             startSec: 0,
     *             endSec: 12,
     *             segmentation: {
     *                 strategy: "dynamic",
     *                 dynamic: {
     *                     minDurationSec: 1
     *                 }
     *             },
     *             embeddingOption: ["visual", "audio", "transcription"],
     *             embeddingScope: ["clip", "asset"]
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "video",
     *         modelName: "marengo3.0",
     *         video: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/video/simple.mp4"
     *             }
     *         }
     *     })
     *
     * @example
     *     await client.embed.v2.create({
     *         inputType: "video",
     *         modelName: "marengo3.0",
     *         video: {
     *             mediaSource: {
     *                 url: "https://user-bucket.com/video/clip.mp4"
     *             },
     *             embeddingOption: ["visual", "audio"],
     *             embeddingScope: ["clip"],
     *             embeddingType: ["separate_embedding", "fused_embedding"]
     *         }
     *     })
     */
    public create(
        request: TwelvelabsApi.embed.CreateEmbeddingsRequest,
        requestOptions?: V2.RequestOptions,
    ): core.HttpResponsePromise<TwelvelabsApi.EmbeddingSuccessResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: TwelvelabsApi.embed.CreateEmbeddingsRequest,
        requestOptions?: V2.RequestOptions,
    ): Promise<core.WithRawResponse<TwelvelabsApi.EmbeddingSuccessResponse>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwelvelabsApiEnvironment.Default,
                "embed-v2",
            ),
            method: "POST",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "twelvelabs-js",
                "X-Fern-SDK-Version": "1.3.4",
                "User-Agent": "twelvelabs-js/1.3.4",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: serializers.embed.CreateEmbeddingsRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 600000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: serializers.EmbeddingSuccessResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TwelvelabsApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 429:
                    throw new TwelvelabsApi.TooManyRequestsError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new TwelvelabsApi.InternalServerError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.TwelvelabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.TwelvelabsApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.TwelvelabsApiTimeoutError("Timeout exceeded when calling POST /embed-v2.");
            case "unknown":
                throw new errors.TwelvelabsApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        return { "x-api-key": apiKeyValue };
    }
}
