/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as TwelvelabsApi from "../../../../index";

/**
 * @example
 *     {
 *         assetId: "6298d673f1090f1100476d4c"
 *     }
 */
export interface KnowledgeStoreItemsCreateRequest {
    /** The type of item to create. */
    assetType?: TwelvelabsApi.KnowledgeStoreItemAssetType;
    /** The unique identifier of the asset to add to the knowledge store. */
    assetId: string;
    /** Custom metadata for the item, as user-defined key-value pairs. Up to 50 pairs, keys up to 128 characters, string values up to 8192 characters. Keys are strings; values can be a string, a number, a boolean, or an array of strings. A nested object, an array containing anything other than strings, and a null value are rejected. An integer must fit in 53 bits (-9007199254740991 to 9007199254740991). Send a wider integer, or an identifier that must be preserved verbatim, as a string. To change it after you create the item, use the [`PATCH`](/v1.3/api-reference/knowledge-store-items/update-item-metadata) or [`PUT`](/v1.3/api-reference/knowledge-store-items/replace-item-metadata) method of the `/knowledge-stores/{knowledge_store_id}/items/{item_id}/item-metadata` endpoint. */
    itemMetadata?: Record<string, TwelvelabsApi.KnowledgeStoreMetadataValue>;
    /** Deprecated. Use `item_metadata` instead. The item stores the pairs in its `item_metadata` field and not in its `metadata` field. Send `item_metadata` or `metadata`, not both. A request that sets both returns a `400` error. */
    metadata?: Record<string, TwelvelabsApi.KnowledgeStoreMetadataValue>;
}
