/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as TwelvelabsApi from "../../../../../../index";

/**
 * @example
 *     {
 *         page: 1,
 *         pageLimit: 10,
 *         sortBy: "created_at",
 *         sortOption: "desc",
 *         filename: "01.mp4",
 *         duration: 1.1,
 *         fps: 1.1,
 *         width: 1.1,
 *         height: 1,
 *         size: 1.1,
 *         createdAt: "2024-08-16T16:53:59Z",
 *         updatedAt: "2024-08-16T16:53:59Z"
 *     }
 */
export interface VideosListRequest {
    /**
     * A number that identifies the page to retrieve.
     *
     * **Default**: `1`.
     */
    page?: number;
    /**
     * The number of items to return on each page.
     *
     * **Default**: `10`.
     * **Max**: `50`.
     */
    pageLimit?: number;
    /**
     * The field to sort on. The following options are available:
     * - `updated_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was updated.
     * - `created_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was created.
     *
     * **Default**: `created_at`.
     */
    sortBy?: string;
    /**
     * The sorting direction. The following options are available:
     * - `asc`
     * - `desc`
     *
     * **Default**: `desc`.
     */
    sortOption?: string;
    /**
     * Filter by filename.
     */
    filename?: string;
    /**
     * Filter by duration. Expressed in seconds.
     */
    duration?: number;
    /**
     * Filter by frames per second.
     */
    fps?: number;
    /**
     * Filter by width.
     */
    width?: number;
    /**
     * Filter by height.
     */
    height?: number;
    /**
     * Filter by size. Expressed in bytes.
     */
    size?: number;
    /**
     * Filter videos by the creation date and time of their associated indexing tasks, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the videos whose indexing tasks were created on the specified date at or after the given time.
     */
    createdAt?: string;
    /**
     * This filter applies only to videos updated using the [`PUT`](/v1.3/api-reference/videos/update) method of the `/indexes/{index-id}/videos/{video-id}` endpoint. It filters videos by the last update date and time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the video indexing tasks that were last updated on the specified date at or after the given time.
     */
    updatedAt?: string;
    /**
     * To enable filtering by custom fields, you must first add user-defined metadata to your video by calling the [`PUT`](/v1.3/api-reference/videos/update) method of the `/indexes/:index-id/videos/:video-id` endpoint.
     *
     * Examples:
     * - To filter on a string: `?category=recentlyAdded`
     * - To filter on an integer: `?batchNumber=5`
     * - To filter on a float: `?rating=9.3`
     * - To filter on a boolean: `?needsReview=true`
     */
    userMetadata?: Record<string, TwelvelabsApi.indexes.VideosListRequestUserMetadataValue | undefined>;
}
