/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "./environments";
import * as core from "./core";
import * as TwelvelabsApi from "./api/index";
import * as serializers from "./serialization/index";
import urlJoin from "url-join";
import * as stream from "stream";
import * as errors from "./errors/index";
import { Tasks } from "./api/resources/tasks/client/Client";
import { Indexes } from "./api/resources/indexes/client/Client";
import { Assets } from "./api/resources/assets/client/Client";
import { MultipartUpload } from "./api/resources/multipartUpload/client/Client";
import { EntityCollections } from "./api/resources/entityCollections/client/Client";
import { Embed } from "./api/resources/embed/client/Client";
import { Search } from "./api/resources/search/client/Client";
import { AnalyzeAsync } from "./api/resources/analyzeAsync/client/Client";

export declare namespace TwelvelabsApiClient {
    export interface Options {
        environment?: core.Supplier<environments.TwelvelabsApiEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey: core.Supplier<string>;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class TwelvelabsApiClient {
    protected _tasks: Tasks | undefined;
    protected _indexes: Indexes | undefined;
    protected _assets: Assets | undefined;
    protected _multipartUpload: MultipartUpload | undefined;
    protected _entityCollections: EntityCollections | undefined;
    protected _embed: Embed | undefined;
    protected _search: Search | undefined;
    protected _analyzeAsync: AnalyzeAsync | undefined;

    constructor(protected readonly _options: TwelvelabsApiClient.Options) {}

    public get tasks(): Tasks {
        return (this._tasks ??= new Tasks(this._options));
    }

    public get indexes(): Indexes {
        return (this._indexes ??= new Indexes(this._options));
    }

    public get assets(): Assets {
        return (this._assets ??= new Assets(this._options));
    }

    public get multipartUpload(): MultipartUpload {
        return (this._multipartUpload ??= new MultipartUpload(this._options));
    }

    public get entityCollections(): EntityCollections {
        return (this._entityCollections ??= new EntityCollections(this._options));
    }

    public get embed(): Embed {
        return (this._embed ??= new Embed(this._options));
    }

    public get search(): Search {
        return (this._search ??= new Search(this._options));
    }

    public get analyzeAsync(): AnalyzeAsync {
        return (this._analyzeAsync ??= new AnalyzeAsync(this._options));
    }

    /**
     * This method synchronously analyzes your videos and generates fully customizable text based on your prompts.
     *
     * <Accordion title="Input requirements">
     * - Minimum duration: 4 seconds
     * - Maximum duration: 1 hour
     * - Formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)
     * - Resolution: 360x360 to 5184x2160 pixels
     * - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1.
     * </Accordion>
     *
     * **When to use this method**:
     * - Analyze videos up to 1 hour
     * - Retrieve immediate results without waiting for asynchronous processing
     * - Stream text fragments in real-time for immediate processing and feedback
     *
     * **Do not use this method for**:
     * - Videos longer than 1 hour. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.
     * - Video segmentation. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint with `model_name` set to `pegasus1.5` instead.
     *
     * <Note title="Notes">
     * - This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.
     * </Note>
     */
    public analyzeStream(
        request: TwelvelabsApi.AnalyzeStreamRequest,
        requestOptions?: TwelvelabsApiClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<TwelvelabsApi.StreamAnalyzeResponse>> {
        return core.HttpResponsePromise.fromPromise(this.__analyzeStream(request, requestOptions));
    }

    private async __analyzeStream(
        request: TwelvelabsApi.AnalyzeStreamRequest,
        requestOptions?: TwelvelabsApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<TwelvelabsApi.StreamAnalyzeResponse>>> {
        const _response = await core.fetcher<stream.Readable>({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwelvelabsApiEnvironment.Default,
                "analyze",
            ),
            method: "POST",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "twelvelabs-js",
                "X-Fern-SDK-Version": "1.2.3",
                "User-Agent": "twelvelabs-js/1.2.3",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: {
                ...serializers.AnalyzeStreamRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
                stream: true,
            },
            responseType: "sse",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: async (data) => {
                        return serializers.StreamAnalyzeResponse.parseOrThrow(data, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            breadcrumbsPrefix: ["response"],
                        });
                    },
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "json",
                        messageTerminator: "\n",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TwelvelabsApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 429:
                    throw new TwelvelabsApi.TooManyRequestsError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.TwelvelabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.TwelvelabsApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.TwelvelabsApiTimeoutError("Timeout exceeded when calling POST /analyze.");
            case "unknown":
                throw new errors.TwelvelabsApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * This method synchronously analyzes your videos and generates fully customizable text based on your prompts.
     *
     * <Accordion title="Input requirements">
     * - Minimum duration: 4 seconds
     * - Maximum duration: 1 hour
     * - Formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)
     * - Resolution: 360x360 to 5184x2160 pixels
     * - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1.
     * </Accordion>
     *
     * **When to use this method**:
     * - Analyze videos up to 1 hour
     * - Retrieve immediate results without waiting for asynchronous processing
     * - Stream text fragments in real-time for immediate processing and feedback
     *
     * **Do not use this method for**:
     * - Videos longer than 1 hour. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.
     * - Video segmentation. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint with `model_name` set to `pegasus1.5` instead.
     *
     * <Note title="Notes">
     * - This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.
     * </Note>
     *
     * @param {TwelvelabsApi.AnalyzeRequest} request
     * @param {TwelvelabsApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TwelvelabsApi.BadRequestError}
     * @throws {@link TwelvelabsApi.TooManyRequestsError}
     *
     * @example
     *     await client.analyze({
     *         videoId: "6298d673f1090f1100476d4c",
     *         prompt: "I want to generate a description for my video with the following format - Title of the video, followed by a summary in 2-3 sentences, highlighting the main topic, key events, and concluding remarks.",
     *         temperature: 0.2,
     *         responseFormat: {
     *             type: "json_schema",
     *             jsonSchema: {
     *                 "type": "object",
     *                 "properties": {
     *                     "title": {
     *                         "type": "string"
     *                     },
     *                     "summary": {
     *                         "type": "string"
     *                     },
     *                     "keywords": {
     *                         "type": "array",
     *                         "items": {
     *                             "type": "string"
     *                         }
     *                     }
     *                 }
     *             }
     *         },
     *         maxTokens: 2000
     *     })
     */
    public analyze(
        request: TwelvelabsApi.AnalyzeRequest,
        requestOptions?: TwelvelabsApiClient.RequestOptions,
    ): core.HttpResponsePromise<TwelvelabsApi.NonStreamAnalyzeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__analyze(request, requestOptions));
    }

    private async __analyze(
        request: TwelvelabsApi.AnalyzeRequest,
        requestOptions?: TwelvelabsApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<TwelvelabsApi.NonStreamAnalyzeResponse>> {
        const _response = await core.fetcher({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TwelvelabsApiEnvironment.Default,
                "analyze",
            ),
            method: "POST",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "twelvelabs-js",
                "X-Fern-SDK-Version": "1.2.3",
                "User-Agent": "twelvelabs-js/1.2.3",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: {
                ...serializers.AnalyzeRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
                stream: false,
            },
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: serializers.NonStreamAnalyzeResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TwelvelabsApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 429:
                    throw new TwelvelabsApi.TooManyRequestsError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.TwelvelabsApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.TwelvelabsApiError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.TwelvelabsApiTimeoutError("Timeout exceeded when calling POST /analyze.");
            case "unknown":
                throw new errors.TwelvelabsApiError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        return { "x-api-key": apiKeyValue };
    }
}
