name: Version Bump and Create PR

on:
  workflow_dispatch:
    inputs:
      versionType:
        type: choice
        description: 'Select the version type to bump:'
        required: true
        default: 'patch'
        options:
          - major
          - minor
          - patch

jobs:
  version-bump:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Configure Git
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"

      - name: Bump Version and Create Tag
        run: |
          git checkout -b version-bump-${{ github.run_id }}
          npm version ${{ github.event.inputs.versionType }} -m "Bump version to %s"

      - name: Push Changes and Tags
        run: |
          git push --set-upstream origin version-bump-${{ github.run_id }} --follow-tags

      - name: Create Pull Request
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
          gh pr create --title "Release v$(node -p "require('./package.json').version")" --body "This PR is auto-generated by the CI to bump the version to $(node -p "require('./package.json').version"). Please review the changes and merge if appropriate." --base main --head version-bump-${{ github.run_id }}
