name: ci
permissions:
    contents: read

on:
    push:
        paths-ignore:
            - "legacy/**"
            - "0.4/**"
        tags:
            - "*"
            - "!legacy*"
            - "!0.4*"
        branches:
            - "**"

jobs:
    compile:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: "18.18.0"

            - name: Setup yarn
              run: npm install -g yarn

            - name: Install dependencies
              run: yarn install

            - name: Compile
              run: yarn build

    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: "18.18.0"

            - name: Setup yarn
              run: npm install -g yarn

            - name: Install dependencies
              run: yarn install

            - name: Run tests
              run: yarn test

    publish:
        needs: [compile, test]
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: "18.18.0"

            - name: Setup yarn
              run: npm install -g yarn

            - name: Install dependencies
              run: yarn install

            - name: Build
              run: yarn build

            - name: Publish to npm
              run: |
                  publish() {
                    npx -y npm@latest publish "$@"
                  }
                  if [[ ${GITHUB_REF} == *alpha* ]]; then
                    publish --access public --tag alpha
                  elif [[ ${GITHUB_REF} == *beta* ]]; then
                    publish --access public --tag beta
                  else
                    publish --access public
                  fi
